<div class="shalia">
           
      
      <div class="typeCykel">
            <% cykelData.forEach(function(enCykel) { %>
        <a href="/kategori/<%=enCykel.id%>">
                <p class="cykelp">
                  <%= enCykel.type %>
                </p>
                <img class="img1" src="images/<%= enCykel.url %>" alt="<%= enCykel.kategori_nr %>">
            </a>
                <% }) %>
            </div>
    
        <div class="indhold3">
                <% tilbud.forEach(function(element) { %>
                <div class="flex-container">
                        
                    <div >  
                        <p  id="navn"> <%= element.navn %> </p>
                        <img src="/images/<%=element.img %>"> 
                        <p  id="pris"> <%= element.førPris %></p>
                        <p  id="pris1"> <%= element.nupris %></p>
                    </div>
                </div>    
                
                <% }); %>
        </div>
    </div>