
<footer>
 

      <p id="footerP"><%= footer[0].navn %>
          <%= footer[0].vej %>
          <%= footer[0].by %>
          <%= footer[0].postnr %>
              tlf.
          <%= footer[0].tlf %>
          <%= footer[0].email %>
      </p>
 
    </footer>