<div class="shalia">


    <div class="cykelKatagori">
        <% nyhedData.forEach(function(enNyhed) { %>
            <div>
              
                    <h3>
                        <%= enNyhed.mærke %>
                            <%= enNyhed.model %>
                    </h3>
                    <p>
                        <%= enNyhed.beskrivelse %>
                    </p>
                   
                       <p>Pris: <%= enNyhed.pris %> kr.</p>
                <img class="img1" src="images/<%= enNyhed.url %>" alt="<%= enNyhed.kategori_nr %>">
            </div>
            <% }) %>
    </div>

    <div class="indhold3">
        <% tilbud.forEach(function(element) { %>
            <div class="flex-container">

                <div>
                    <p id="navn">
                        <%= element.navn %>
                    </p>
                    <img src="/images/<%=element.img %>">
                    <p id="pris">
                        <%= element.førPris %>
                    </p>
                    <p id="pris1">
                        <%= element.nupris %>
                    </p>
                </div>
            </div>

            <% }); %>
    </div>
</div>